/* General Styles */
body {
  background: linear-gradient(45deg, #3498db, #e74c3c, #9b59b6, #e74c3c);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* App Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Base Styles */
.custom-app-bar {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.custom-app-bar-toolbar {
  justify-content: center;
}

.custom-app-bar-title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
}

.custom-icon-button {
  font-size: 1rem;
  font-weight: bold;
}

/* Form Styles */
.add-notes-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.add-notes-button {
  background-color: #eaff00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-notes-button:hover {
  background-color: #0056b3;
}

/* Message Styles */
.color-error {
  color: red;
}

.color-success {
  color: green;
}

/* Dashboard Styles */
.dashboard-container {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Notes Container Styles */
.notes-container {
  padding: 20px;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  color: black;
  font-weight: 500;
  font-size: large;
}
/* Ensure container has a margin for separation */
.Customers-container {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

/* Apply a grid layout with three columns */
.customers-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

/* Styling for individual customer cards */
.customers-paper {
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-aligns the image and text */
}

/* Hover effect to enhance card elevation */
.customers-paper:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for text inside the card */
.customers-paper p {
  margin: 4px 0;
  color: #333;
  font-size: 16px;
}

/* Bold styling for the first paragraph */
.customers-paper p:first-of-type {
  font-weight: bold;
}

/* Styling for error messages */
.error-message {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Styling for customer images */
.customer-image {
  width: 100%; /* Make image take full width of the card */
  max-width: 150px; /* Maximum width for the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Circular image */
  margin-bottom: 12px; /* Space between image and text */
}

/* Custom Paper Styles */
.custom-paper {
  background-color: #2196F3;
  padding: 16px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Note Card Styles */
.note-card {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.bt {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.bt button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.bt button:hover {
  background-color: #0056b3;
}

/* Login Page Styles */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lo {
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: medium;
}

.form {
  height: 500px;
  width: 500px;
  padding: 20px;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #be9a9a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 40px;
}

.form button {
  margin-top: 10px;
}

/* Signup Page Styles */
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background: #be9a9a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign {
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: medium;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #ff3366;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Paper Component Styles */
.paper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 80%;
  height: auto;
}

.paper p {
  margin: 4px 0;
}

.paper button {
  margin: 8px 4px;
}

/* Edit Page Styles */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

input {
  margin: 8px 0;
}

button {
  margin: 16px 8px;
}

/* Button Gap */
.btn3 {
  display: flex;
  gap: 10px;
  margin-left: 80px;
  margin-top: 20px;
}

Typography {
  margin-top: 8px;
  text-align: center;
}

/* Responsive Styles */
@media screen and (min-width: 370px) and (max-width: 1300px) {
  /* Adjust grid and flex layouts for responsiveness */
  .dashboard-container,
  .notes-container,
  .custom-paper,
  .paper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
